name: Build and Push Docker Image to Google Artifact Registry

on:
  push:
    branches:
      - main
      - add-mozilla-it-deploy
    tags:
      - "v*"

jobs:
  # docs - https://github.com/mozilla-it/deploy-actions/blob/main/.github/workflows/docs/build-and-push.md
  build-and-push:
    secrets: inherit
    permissions:
      contents: read
      id-token: write
    uses: mozilla-it/deploy-actions/.github/workflows/build-and-push.yml@main
    with:
      image_name: mlpa
      gar_name: llm-proxy-prod
      project_id: moz-fx-llm-proxy-prod-b0b8
      should_tag_latest: true
